<div class="form-teams-container">
  <form [formGroup]="formTeam" (ngSubmit)="addTeam()">
    <ion-item>
      <ion-input label="Nombre" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Uniforme Local" formControlName="localKit"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label="Uniforme Visitante"
        formControlName="awayKit"
      ></ion-input>
    </ion-item>
    <ion-button type="submit">Guardar</ion-button>
    <ion-button (click)="editTeam()">Guardar Edición</ion-button>
  </form>
</div>

<div class="table-teams-container" *ngFor="let team of teams">
  <table>
    <tr>
      <th>Nombre</th>
      <th>Uniforme Local</th>
      <th>Uniforme Visitante</th>
    </tr>
    <tr>
      <td>{{ team.name }}</td>
      <td>{{ team.localKit }}</td>
      <td>{{ team.awayKit }}</td>
    </tr>
  </table>
  <ion-button (click)="deleteTeam(team.id)">Borrar</ion-button>
  <ion-button (click)="enableEdit(team, team.id)">Editar</ion-button>
</div>
<div class="router-button">
  <button routerLink="/players">Players</button>
  <button routerLink="/matches">Matches</button>
</div>
